.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.padding-radius, .group, input, select, .btn {
  padding: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }

.mrg-top-15 {
  margin-top: 15px; }

.mrg-top-20 {
  margin-top: 20px; }

.mrg-btm-20 {
  margin-bottom: 20px; }

.group {
  background: #0e2d3d;
  background: #0e2d3d url(/img/ping-pong-icon.png);
  background-size: 150px; }
  .group.stretch {
    width: 100%; }

.bg-transparent, input.control-transparent, select.control-transparent, .btn.btn-transparent {
  background: rgba(5, 22, 30, 0.3); }
  .bg-transparent:hover,
  input.control-transparent:hover,
  select.control-transparent:hover,
  .btn.btn-transparent:hover,
  .bg-transparent:focus, input.control-transparent:focus, select.control-transparent:focus, .btn.btn-transparent:focus {
    outline: none;
    background: rgba(5, 22, 30, 0.5); }

.separate {
  margin-right: 10px; }
  .separate:after {
    content: '|';
    margin-left: 10px; }
  .separate:last-child:after {
    content: '';
    margin-left: 0; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

@media (min-width: 1024px) {
  .col-6 {
    width: 50%; }
  .col-5 {
    width: 41.66%; }
  .col-4 {
    width: 33.33%; }
  .col-3 {
    width: 25%; }
  .col-2 {
    width: 16.66%; }
  .col-1 {
    width: 8.33%; }
  .col-offset-1 {
    margin-left: 8.33%; }
  .col-offset-2 {
    margin-left: 16.66%; }
  .col-offset-3 {
    margin-left: 25%; } }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #05161e;
  font-size: 1.5rem;
  font-family: "Proxima Nova Soft", "Arial Rounded", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #ffffff; }

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 30px; }

.table-responsive {
  width: 100%;
  overflow-x: scroll;
  box-shadow: 0 0 5px #05161e; }

table {
  width: 100%; }

th,
td {
  background: #0e2d3d;
  padding: 15px;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-align: center; }
  th:hover,
  td:hover {
    background: #0F3E4F; }

thead > tr:first-child th:first-child {
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px; }

thead > tr:first-child th:last-child {
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px; }

thead > tr:last-child {
  border-bottom: 1px solid #ffffff; }

tbody > tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px; }

tbody > tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

input, select {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  border: none;
  margin-bottom: 15px;
  height: 48px; }
  input.stretch, select.stretch {
    width: 100%; }

.btn {
  border: none;
  padding: 15px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  background: none; }
  .btn:focus {
    outline: none; }
  .btn.btn-small {
    padding: 5px 10px; }
  .btn.btn-transparent:active {
    background: rgba(5, 22, 30, 0.7); }
  .btn.btn-blue {
    background: #0e2d3d; }
    .btn.btn-blue:hover {
      background: #0F3E4F; }
    .btn.btn-blue:active {
      background: #17607a; }
  .btn.btn-burgundy {
    background: #6D192A; }
    .btn.btn-burgundy:hover {
      background: #8a1d35; }
    .btn.btn-burgundy:active {
      background: #b42645; }
  .btn.btn-stretch {
    width: 100%; }
