$color-white: #ffffff;
$color-light: #f7f7f7;
$color-dark: #05161e;
$color-blue-1: #0e2d3d;
$color-blue-2: #0F3E4F;
$color-teal-1: #09be7f;
$color-teal-2: #09E09C;
$color-burgundy-1: #6D192A;
$color-burgundy-2: #8a1d35;

$fn-light: 100;
// Trying my luck...
$fnt-sans-serif: 'Proxima Nova Soft', 'Arial Rounded', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;